<!-- SPEEDY DELETION DIALOG -->

<h2 style="font-weight: 200;font-size:45px;line-height: 48px;">Request Speedy Deletion</h2>
<div class="cntContainer" style="height:350px; overflow:auto;">
    <form id="newMsgForm" onsubmit="pushRollback();" action="#">
        <!-- GENERAL REASONS ONLY UNDER ANY PAGE -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="width:100%">
            <input type="text" value="" class="mdl-textfield__input" id="reason" style="font-size:14px;" onkeypress="searchReasons();" autocomplete="off">
            <input type="hidden" value="" name="reason">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="template" class="mdl-textfield__label">I'm requesting the speedy deletion of...</label>
            <ul for="template" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="overflow-y: scroll;height: 250px">
                `+ finalStr +`
            </ul>
        </div>
        <p id="desP">Please select a valid reason.</p>
        <div id="textBcontainer" style="display:none;">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
                <input class="mdl-textfield__input" type="text" id="customInput" name="customInput">
                <label class="mdl-textfield__label" for="customInput" id="customInputLabel">Custom Reason</label>
                <div class="mdl-tooltip" for="customInput" id="customInputTt">
                    Enter this info correctly
                </div>
            </div>
        </div>
    </form>
    <span style="
        color: red;
        font-size: small;
    ">
    Before nominating a page for speedy deletion, consider whether it could be improved, reduced to a stub, merged or redirected elsewhere,
        reverted to a better previous revision, or handled in <a href="https://en.wikipedia.org/wiki/Wikipedia:Deletion_policy#Alternatives_to_deletion" target="_blank">some other way</a>. A page
        is eligible for speedy deletion only if all of its revisions are also eligible.<br /><br />
    <b>Are you sure a speedy deletion request is the best option and the data you have entered is correct?</b>
        </span><br />
    <span style="float:right;">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.parent.postMessage('closeDialog', '*');">
            CANCEL
        </button>
        <button id="submitBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="pushRollback();">
            YES, PROPOSE SPEEDY DELETION
        </button>
    </span>
</div>

<script>
    function pushRollback() {
        var data = $('#newMsgForm').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
                }, {}); // form data
        // Submit it
        console.log(data);
        window.parent.postMessage("csdR\\\`"+data.reason + '\\\`' + data.customInput); // Push upstairs
        window.parent.postMessage("closeDialog"); // We done here.
        
    }
    // Search reasons
    // Very basic but it works TODO: work on, including selecting best match on ENTER
    function searchReasons() {
        let toSearch = document.getElementById("reason").value.toLowerCase();
        $(".mdl-menu__item").each((x,y)=>{
            if (y.innerText.toLowerCase().includes(toSearch)) {
                $(y).show();
            } else {
                $(y).hide();
            }
        });
    }

    var refreshLevels = i=>{
        // Show the correct description and textbox
        let speedyDeleteReasons = `+ JSON.stringify(speedyDeleteReasons) +`;
        let reason = eval(i);
        console.log(reason);
        // Info box
        $("#desP").html('<span class="material-icons" style="float: left;padding-right: 5px; cursor:default;">info</span>' + reason.helpText);
        

        if (reason.input != "") {
            // Requires a custom input, show
            $("#customInputLabel").text(reason.input);
            $("#textBcontainer").show(); // Make the textbox visible
            try {
                if (reason.inputTooltip.length > 0) {
                // Tool tip too
                $("#customInputTt").show();
                $("#customInputTt").text(reason.inputTooltip);
                } else {
                    // No tooltip
                    $("#customInputTt").hide();
                }
            } catch (error) {
                // No tooltip
                $("#customInputTt").hide();
            }
        } else {
            $("#textBcontainer").hide();
        }
       
    }
</script>